@import "tailwindcss";

@theme {
  --color-primary: #EAB308;
  --color-background: #0A0A0A;
  --color-secondary: #1E1E1E;
  --color-text: #FFFFFF;
  --color-foreground: #FFFFFF;

  --font-heading: var(--font-poppins), sans-serif;
  --font-body: var(--font-inter), sans-serif;
}

:root {
  --background: #0A0A0A;
  --foreground: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}